// copyright
$copyrightLightColor: #565859;
$copyrightDarkColor: #c5c5d2;

//chatinput
$chatInputDarkColor: rgba(217, 217, 227, .2);
$chatInputLightColor: #565859;
$chatInputBtnLightColor: #fff;
$chatInputBtnDarkColor: rgba(170, 170, 170, .2);

// chatwindow
$chatWindowLightColor: #f2f1e9;
$chatWindowDarkColor: rgba(52, 53, 65, 1);
// chatheader
$chatHeaderLightColor: #f2f1e9;
$chatHeaderDarkColor: rgba(52, 53, 65, .5);
